.App {
  text-align: center;
  /* Added by Rahaf */
  display: flex;
  padding: 40px;  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Added by Rahaf */
.container{
  display: flex;
  padding: 40px;
  text-align: center;
}

fieldset{
  border: 1px solid rgb(61, 61, 148);
  width: 440px;
  text-align: center;
}

.form-control{
  width: 240px;
  box-shadow: 2px 2px rgb(155, 144, 144);
}

.btn{
  box-shadow: 2px 3px rgb(60, 60, 83);
}
:placeholder-shown{
  font-style: italic;
}
/* ************************ */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
